<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UWUVCI_AIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <UWUVCI_AIO.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommonKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PMEU" serializeAs="String">
                <value />
            </setting>
            <setting name="PMUS" serializeAs="String">
                <value />
            </setting>
            <setting name="DK64EU" serializeAs="String">
                <value />
            </setting>
            <setting name="DK64US" serializeAs="String">
                <value />
            </setting>
            <setting name="FZXUS" serializeAs="String">
                <value />
            </setting>
            <setting name="FZXJP" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InjectionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkingPath" serializeAs="String">
                <value />
            </setting>
            <setting name="allpathset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMetroidEU" serializeAs="String">
                <value />
            </setting>
            <setting name="SMetroidUS" serializeAs="String">
                <value />
            </setting>
            <setting name="SMetroidJP" serializeAs="String">
                <value />
            </setting>
            <setting name="EarthboundEU" serializeAs="String">
                <value />
            </setting>
            <setting name="EarthboundUS" serializeAs="String">
                <value />
            </setting>
            <setting name="EarthboundJP" serializeAs="String">
                <value />
            </setting>
            <setting name="DKCEU" serializeAs="String">
                <value />
            </setting>
            <setting name="DKCUS" serializeAs="String">
                <value />
            </setting>
            <setting name="ZSTEU" serializeAs="String">
                <value />
            </setting>
            <setting name="ZSTUS" serializeAs="String">
                <value />
            </setting>
            <setting name="ZPHEU" serializeAs="String">
                <value />
            </setting>
            <setting name="ZPHUS" serializeAs="String">
                <value />
            </setting>
            <setting name="WWEU" serializeAs="String">
                <value />
            </setting>
            <setting name="WWUS" serializeAs="String">
                <value />
            </setting>
            <setting name="POEU" serializeAs="String">
                <value />
            </setting>
            <setting name="POUS" serializeAs="String">
                <value />
            </setting>
            <setting name="SMBEU" serializeAs="String">
                <value />
            </setting>
            <setting name="SMBUS" serializeAs="String">
                <value />
            </setting>
            <setting name="ZMCEU" serializeAs="String">
                <value />
            </setting>
            <setting name="ZMCUS" serializeAs="String">
                <value />
            </setting>
            <setting name="MKCEU" serializeAs="String">
                <value />
            </setting>
            <setting name="MKCUS" serializeAs="String">
                <value />
            </setting>
        </UWUVCI_AIO.Properties.Settings>
    </userSettings>
</configuration>
